@import "variables";

.login {
  padding-top: 5px;
  font-family: 'Roboto';
  font-size: 12px;
  letter-spacing: 0.3px;
  color: $text-color;

  &__avatar {
    position: relative;
    margin: 0 auto;
    width: 65px;
    height: 65px;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      max-height: 100%;
      max-width: 100%;
    }
  }

  .form {
    width: 220px;
    margin: 0 auto;
  }

  &__form-input {
    position: relative;
    margin: 11px 0;
    width: 100%;

    input {
      width: 100%;
      padding: 6px;
      padding-left: 45px;
      font-size: 14px;
      letter-spacing: 0.3px;
      border: 1px solid $border-color;
      outline: none;
      background: transparent;
      color: $text-color;
      border-radius: 2px;
      box-sizing: border-box;

      &:invalid:not(:placeholder-shown) {
        border-color: red;
      }
    }

    label {
      position: absolute;
      top: 1px;
      left: 0;
      line-height: 28px;
      padding: 0 8px;
      border-right: 1px solid $border-color;

      img {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        opacity: 0.5;
      }

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 6px);
        right: -7px;
        border: 7px solid transparent;
        border-right: none;
        border-left-color: $border-color;
      }

      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 5px);
        right: -5px;
        border: 6px solid transparent;
        border-right: none;
        border-left-color: #fff;
      }
    }

    input:hover,
    input:focus {
      border-color: $btn-color;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);

      & + label img {
        opacity: 1;
      }
    }
  }

  &__forgot-password {
    margin-top: -5px;
  }

  button {
    padding: 5px 8px;
    letter-spacing: 0.3px;
    background: $btn-color;
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px;

    &:disabled {
      background: #ccc;
    }
  }

  &__switch-container {
    color: $text-color;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .switch {
      margin-right: 10px;
      margin-left: 18px;

      &:before {
        content: '';
        position: absolute;
        left: -18px;
        top: calc(50% - 4px);
        display: inline-block;
        vertical-align: middle;
        width: 9px;
        height: 9px;
        background: url(../images/checked.png) no-repeat center;
        background-size: contain;
        opacity: 0.2;
      }

      &.checked:before {
        opacity: 1;
      }
    }
  }

  &__additional-links {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    padding: 13px 0;
    font-size: 12px;
    font-family: "Roboto";
    letter-spacing: 0.3px;
    text-align: center;
    color: $text-color;
    box-sizing: border-box;
  }

  &__form-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: darken($btn-color, 20%);
}
