@import "variables";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

::-webkit-input-placeholder {
  color: lighten($text-color, 20%);
}

::-moz-placeholder {
  color: lighten($text-color, 20%); /* Firefox 19+ */
}

:-moz-placeholder {
  color: lighten($text-color, 20%); /* Firefox 18- */
}

:-ms-input-placeholder {
  color: lighten($text-color, 20%);
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

button {
  border: none;
  outline: none;
  appearance: none;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;

  &.active {
    display: flex;
  }

  &__header {
    position: relative;
  }

  &__content {
    position: relative;
    padding: 10px;
    max-width: 330px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
  }

  .close-btn {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: url(../images/close.png) no-repeat center;
    background-size: contain;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__body {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: darken($btn-color, 20%);
}
