@import "variables";

.navbar {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: $btn-color;
    font-weight: 600;

    li {
      padding: 10px 20px;
      display: inline-block;
      cursor: pointer;
      border-right: 1px solid darken($btn-color, 10%);

      a {
        color: #fff;
      }
    }

    li:hover {
      background-color: darken($btn-color, 30%);
    }
  }
}