@import "variables";

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  background-color: $btn-color;
  background: linear-gradient(to bottom, #aaa 0%, #ddd 100%);
  border-radius: 10px;
  cursor: pointer;

  &.checked {
    background: linear-gradient(to bottom, darken($btn-color, 20%) 0%, $btn-color 100%); 
  }

  input {
    display: none;
  }

  .slider {
    position: absolute;
    top: -1px;
    left: -5px;
    height: 15px;
    width: 15px;
    background: #fff;
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .4s;
    transition: po.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    left: calc(100% - 10px);
  }
}
