<div class="popup" id="login-popup">
    <div class="popup__content">
        <div class="popup__header">
            <div class="close-btn"></div>
        </div>
        <div class="popup__body login">
            <div class="avatar login__avatar">
                <img src="media/images/avatar.png" />
            </div>
            <form class="form">
                <div class="login__form-input">
                    <input id="login" type="email" name="email" placeholder="Email" required />
                    <label for="login"><img src="media/images/user.png" /></label>
                </div>
                <div class="login__form-input">
                    <input id="password" type="password" name="password" placeholder="Password" pattern=".{5,}" required />
                    <label for="password"><img src="media/images/key.png" /></label>
                </div>
                <div class="login__forgot-password">Forgot your password?</div>
                <div class="login__form-footer">
                    <div class="login__switch-container">
                        <label class="switch">
                          <input type="checkbox" />
                          <span class="slider"></span>
                        </label>
                        <div>Remember?</div>
                    </div>
                    <button type="submit">Sign In</button>
                </div>
            </form>
        </div>
        <div class="login__additional-links">
            Not a registered user yet?
            <a href="#">Sign up now!</a>
        </div>
    </div>
</div>